name: lofl
services:
  contained:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: lofl
    volumes:
      - ./lofl.yaml:/etc/lofl/lofl.yaml:ro
    profiles: ["contained"]
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    sysctls:
      - net.ipv4.ip_forward=1
    networks:
      - lofl_net
    restart: unless-stopped
    extra_hosts:
        - "host.docker.internal:host-gateway"

  host:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: lofl
    volumes:
      - ./lofl.yaml:/etc/lofl/lofl.yaml:ro
    profiles: ["host"]
    network_mode: host
    privileged: true
    restart: unless-stopped
    extra_hosts:
        - "host.docker.internal:host-gateway"

networks:
  lofl_net:
    name: lofl_net
